# Files to ignore
##############################################
node_modules
npm-debug.log
template/*

# Keep these folders with .gitkeep files
##############################################
!blocks/.gitkeep
!template/.gitkeep
