/* ============================================================
  COLORS

  Centralized location for all color values
============================================================ */

@bodyColor:#777777;
@linkColor:lightblue;
@linkHvrColor:darken(lightblue, 20%);

// Brand Colors
@accent: rgba(255, 242, 0, 1);
@accent-alt: rgba(16,6,150,1);
@brand-black: rgba(45,41,38,1);
@white: #fff;
@black: rgb(1,1,1);
