/* ============================================================
  COLORS

  Centralized location for all color values
============================================================ */

@bodyColor:#777777;
@linkColor:lightblue;
@linkHvrColor:darken(lightblue, 20%);

// Brand Colors
@maroon: rgb(174,27,31);//#ae1b1f
@white: rgb(255,255,255);
@black: rgb(1,1,1);
