/* ============================================================
  COVER PAGE STYLESHEET
============================================================ */
@import (reference) './modules/helpers/_colors.less';
@import (reference) './modules/helpers/_layout.less';
@import (reference) './modules/helpers/_mixins.less';
/* ============================================================
  Variables
============================================================ */
/* z index */
@send-back: -1;
@send-further-back: -2;
@send-to-back: -3;
/* dimensions */
// Logo
@logo-width: 90px;
@logo-height: 39px;
@logo-width-sm: 150px;
@logo-height-sm: 65px;
@logo-padding: 17px; // Header
@header-lineheight: @logo-height + 2 * @logo-padding; // equals logo height + 2 * logo padding
@header-lineheight-sm: @logo-height-sm + 2 * @logo-padding; // Footer
@footer-height: 82px;
@footer-height-xs: 66px;
/* ============================================================
  Load fontfaces
============================================================ */
@font-face {
  font-family: 'greycliff_cfbold';
  src: url('./assets/typeface/greycliffcf/greycliffcf-bold-webfont.woff2?') format('woff2'), url('./assets/typeface/greycliffcf/greycliffcf-bold-webfont.woff?') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'greycliff_cflight';
  src: url('./assets/typeface/greycliffcf/greycliffcf-light-webfont.woff2?') format('woff2'), url('./assets/typeface/greycliffcf/greycliffcf-light-webfont.woff?') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* ============================================================
  Mixins
============================================================ */
/*
** Fonts
==============================*/
.light-sans {
  font-family: "greycliff_cflight",Arial,"sans-serif";
}

.heavy-sans {
  font-family: "greycliff_cfbold",Arial,"sans-serif";
}
/* ============================================================
  Utility Classes
============================================================ */
.cust-button,
a .cust-button {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0.8em 2em;
  border-width: 0;
  cursor: pointer;
  outline: 0;
  background: @brand-black;

  &.cta {
    background: @accent;
    color: @brand-black !important;
    text-shadow: none !important;
    &:hover {
      text-decoration: none !important;
    }
  }
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
  .light-sans;
  .drop-shadow;
  transition: all 0.18s ease-in-out;
  transform: translateZ(0);

  &:focus,
  .no-touch &:hover {
    opacity: 0.8;
  }
  @media @small {
    padding: 1em 2.5em;
    font-size: 14px;
  }
}
/* ============================================================
  Main Styles

  All styles wrapped in cover-page class
============================================================ */
body.cover-page {
  // Reset lists
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  // Reset body styles
  height: 100vh; // set height to 100% of viewport height
  background-color: fade(@brand-black,50%);
  transform: translateZ(1px); // fixes safari z index glitch
  -webkit-transform: translatez(1px); // fixes safari z index glitch

  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  p a {
    // Set color to white
    color: @white;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    // Headline font
    .heavy-sans;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
  }

  p {
    // paragraph font
    .light-sans;
    font-weight: normal;
  }

  a,
  p a {
    text-decoration: none;
    // Set link hovers
    &:visited {
      color: @white;
    }

    &:focus,
    .no-touch &:hover {
      color: @accent;
      text-decoration: underline;
    }
  }
  // This makes everything position relative to site container
  .site-container {
    position: relative;
  }
  // Header & Navigation
  header.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    @media @xx-small-only {
      & > .container {
        padding: 0;

        > .row {
          padding: 0;

        }
      }
    }

    .left {
      width: @logo-width;
      @media @x-small {
        width: @logo-width-sm;
      }
    }

    .right {
      width: 100%;
      text-align: right;

      .nav-button {
        display: inline-block;
      }
    }

    .left,
    .right {
      /* Use display table cell to expand right to
    ** available width. Requires that both left and right
    ** have a declared width. Left will have a static width
    ** in pixels, while right will have 100% width.
    ** See: https://www.sitepoint.com/community/t/floated-fixed-width-sidebar-with-fluid-width-previous-sibling/79778/4
    ********************************************************* */
      display: table-cell;
      line-height: @header-lineheight;
      @media @x-small {
        line-height: @header-lineheight-sm;
      }
    }

    a.cover-page-logo-wrapper {
      display: inline-block; // Make anchor expand to it's contents
      vertical-align: middle; // Vertical align it to other text
      padding: @logo-padding 0;
      // setup link to logo src
      .cover-page-logo {
        // give div same aspect ratio as logo src
        .aspect-ratio(@logo-width,@logo-height);
        /* Make sure background doesn't repeat */
        background-repeat: no-repeat;
        /* Make sure background covers */
        background-size: cover;

        .svg & {
          background-image: url('/assets/img/Logo_Somos_web.svg?v=');
        }

        .no-svg & {
          background-image: url('/assets/img/Logo_Somos_web.png?v=');
        }
        // Specify Logo size
        width: @logo-width;
        height: @logo-height;
        @media @x-small {
          width: @logo-width-sm;
          height: @logo-height-sm;
        }
      }
      /* Site title is hidden. Included for accessibility
      ============================================ */
      #siteTitle {
        // hide this text
        font-size: 1.4em;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  // Main Content
  #main-content {
    position: relative;
    height: 100vh; // fills up entire screen
    min-height: 569px; // min-height for smaller screens
    overflow-y: hidden; // fixes mysterious space at bottom
    margin-bottom: -@footer-height; // creates sticky footer effect
    @media @x-small {
      margin-bottom: -@footer-height-xs;
    }
    @media @xx-small-only {
      padding-top: 0 !important;
    }

    > .container {
      height: 100%; // makes container fill up so content can be vertically centered

      > .row {
        height: 100%;

        > .col-xs-12 {
          height: 100%;

          .content-wrapper {
            padding: 0 17px; // add extra spacing from sides
            position: absolute;
            width: 100%;
            .center(xy);
          }
        }
      }
    }

    h1 {
      font-size: 2em;
      margin: 0;
      @media @x-small {
        font-size: 2.5em;
      }
      @media @small {
        font-size: 3em;
      }
      @media @medium {
        font-size: 3.5em;
      }
    }

    p {
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-size: 18px;
    }

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    p a {
      .text-shadow;
    }
  }
  // Sticky footer
  .push,
  footer.footer {
    height: @footer-height;
    @media @x-small {
      height: @footer-height-xs;
    }
  }
  // Footer
  footer.footer {
    position: relative;
    background-color: fade(@black,70%);

    p {
      // smaller font
      font-size: 14px;
    }
    @media @x-small {
      padding-top: 17px; // add padding of child elements to fix spacing
    }
  }
  /*
    ** Button Styles
    *******************************************/
  // input.button.sqs-system-button.sqs-editable-button,
  // span.sqs-system-button.sqs-editable-button {
  //   background-color: @accent;
  //   color: @brand-black;
  //   .light-sans;
  //   text-transform: uppercase;
  //   .drop-shadow;
  //
  //   &:focus,
  //   .no-touch &:hover {
  //     opacity: 0.8;
  //   }
  // }
  /* ============================================================
      Background Images
    ============================================================ */
  .slide {
    .fill-parent;
  }

  #background-wrapper,
  .cover-image {
    z-index: @send-to-back;
    transform: translate3d(0,0,0);
    .fill-parent;
  }

  .overlay {
    z-index: @send-back;
    transform: translate3d(0,0,0);
    .fill-parent;

    .no-cssgradients & {
      background: fade(@brand-black, 50%);
    }

    .cssgradients & {
      background: linear-gradient(0deg, fade(@white,20%), fade(@brand-black, 90%));
    }
  }
  /* ============================================================
      Plus Swatch
    ============================================================ */
  .plus-swatch {
    opacity: 0.15;
    .fill-parent;
    background-size: 300px;
    background-repeat: repeat-x repeat-y;
    z-index: @send-further-back;
    transform: translate3d(0,0,0);

    .svg & {
      background-image: url('/assets/img/plus_swatch.svg?v=');
    }

    .no-svg & {
      background-image: url('/assets/img/plus_swatch.png?v=');
    }
  }
  // Wistia popover button
  .wistia_click_to_play {
    a {
      .light-sans;
      text-transform: uppercase;

      #popover-link {
        opacity: 0;
      }
    }
  }
}
