/* ============================================================
  COVER PAGE STYLESHEET
============================================================ */
@import (reference) './modules/helpers/_colors.less';
@import (reference) './modules/helpers/_layout.less';
@import (reference) './modules/helpers/_mixins.less';
/* ============================================================
  Variables
============================================================ */
@accent: rgba(255, 242, 0, 1);
@accent-alt: rgba(16,6,150,1);
@brand-black: rgba(45,41,38,1);
@send-back: -1;
@send-further-back: -2;
@send-to-back: -3;
/* ============================================================
  Load fontfaces
============================================================ */
@font-face {
  font-family: 'greycliff_cfbold';
  src: url('./assets/typeface/greycliffcf/greycliffcf-bold-webfont.woff2?') format('woff2'), url('./assets/typeface/greycliffcf/greycliffcf-bold-webfont.woff?') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'greycliff_cflight';
  src: url('./assets/typeface/greycliffcf/greycliffcf-light-webfont.woff2?') format('woff2'), url('./assets/typeface/greycliffcf/greycliffcf-light-webfont.woff?') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* ============================================================
  Mixins
============================================================ */
/*
** Fonts
==============================*/
.light-sans {
  font-family: "greycliff_cflight",Arial,"sans-serif";
}
.heavy-sans {
  font-family: "greycliff_cfbold",Arial,"sans-serif";
}
/* ============================================================
  Utility Classes
============================================================ */
.cust-button {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 1em 2.5em;
  border-width: 0;
  cursor: pointer;
  outline: 0;
  background: @brand-black;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  .light-sans;
  .drop-shadow;
  transition: all 0.18s ease-in-out;
  transform: translateZ(0);
  &:focus,
  .no-touch &:hover {
    opacity: 0.8;
  }
}
/* ============================================================
  Main Styles
============================================================ */
// Reset lists
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Reset link hovers
body {
  a,
  p a {
    &:visited {
      color: @white;
    }
    &:focus,
    .no-touch &:hover {
      color: @accent;
    }
  }
}
// Header Logo size
header.header {
  .logo-wrapper {
    // size logo down
    width: 150px;
    // setup link to logo src
    #logo {
      // give div same aspect ratio as logo src
      .aspect-ratio(460,200);
      /* Make sure background doesn't repeat */
      background-repeat: no-repeat;
      /* Make sure background covers */
      background-size: cover;
      .svg & {
        background-image: url('/assets/img/Logo_Somos_web.svg?v=');
      }
      .no-svg & {
        background-image: url('/assets/img/Logo_Somos_web.png?v=');
      }
    }
  }
}
// Give link
#give-wrapper {
  right: 0;
  top: 0;
  position: absolute;
  margin-top: 21px;
  margin-right: 15px;
}
// Body
body.cover-page {
  height: 100vh;
  background-color: fade(@brand-black,50%);
  transform: translateZ(1px); // fixes safari z index glitch
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  p a {
    // Set color to white
    color: @white;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    // Headline font
    .heavy-sans;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
  }
  p {
    // paragraph font
    font-family: "Georgia", Times,"serif";
    font-weight: normal;
  }
  .site-container {
    position: relative;
  }
  header.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  #main-content {
    position: relative;
    height: 100vh; // fills up entire screen
    min-height: 500px; // min-height for smaller screens
    overflow-y: hidden; // fixes mysterious space at bottom
    > .container {
      height: 100%; // makes container fill up so content can be vertically centered
      > .row {
        height: 100%;
        > .col-xs-12 {
          height: 100%;
          .content-wrapper {
            padding: 0 17px; // add extra spacing from sides
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%)translateY(-50%);
          }
        }
      }
    }
    h1 {
      font-size: 2em;
      margin: 0;
      @media @x-small {
        font-size: 2.5em;
      }
      @media @small {
        font-size: 4em;
      }
      @media @medium {
        font-size: 3.5em;
      }
    }
    p {
      text-transform: uppercase;
      letter-spacing: 0.3em;
      font-size: 18px;
    }
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    p a {
      .text-shadow;
    }
  }
  footer.footer {
    // position footer
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: fade(@black,70%);
    p {
      // smaller font
      font-size: 14px;
    }
    @media @small {
      padding-top: 17px; // add padding of child elements to fix spacing
    }
  }
  /*
  ** Button Styles
  *******************************************/
  input.button.sqs-system-button.sqs-editable-button,
  span.sqs-system-button.sqs-editable-button {
    background-color: @accent;
    color: @brand-black;
    .light-sans;
    text-transform: uppercase;
    .drop-shadow;
    &:focus,
    .no-touch &:hover {
      opacity: 0.8;
    }
  }
}
/* ============================================================
  Background Images
============================================================ */
.slide {
  .fill-parent;
}
#background-wrapper,
.cover-image {
  z-index: @send-to-back;
  transform: translate3d(0,0,0);
  .fill-parent;
}
.overlay {
  z-index: @send-back;
  transform: translate3d(0,0,0);
  .fill-parent;
  .no-cssgradients & {
    background: fade(@brand-black, 50%);
  }
  .cssgradients & {
    background: linear-gradient(0deg, fade(@white,20%), fade(@brand-black, 90%));
  }
}
/* ============================================================
  Plus Swatch
============================================================ */
.plus-swatch {
  opacity: .15;
  .fill-parent;
  background-size: 300px;
  background-repeat: repeat-x repeat-y;
  z-index: @send-further-back;
  transform: translate3d(0,0,0);
  .svg & {
    background-image: url('/assets/img/plus_swatch.svg?v=');
  }
  .no-svg & {
    background-image: url('/assets/img/plus_swatch.png?v=');
  }
}
